apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: github-demo
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: nginx
  rules:
    - host: "{{ .Values.host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: github-demo
                port:
                  number: 3000
  tls:
    - secretName: "{{ .Values.tls.secretName }}"
      hosts:
        - "{{ .Values.host }}"
